﻿<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quirón Virtual</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900" rel="stylesheet">
    @Styles.Render("~/Content/css")
</head>
<body>
    @{
        if (Convert.ToInt32(Session["id_perfil"]) == 1)
        {
            @Html.Partial("_MenuSuperAdmin")
        }
        else if (Convert.ToInt32(Session["id_perfil"]) == 2)
        {
            @Html.Partial("_MenuAdmin")
        }
        else if (Convert.ToInt32(Session["id_perfil"]) == 3)
        {
            @Html.Partial("_MenuEstudiante")
        }
    }
    @Html.Partial("_Navegation")
    @RenderBody()
    @Html.Partial("_Footer")

    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
