﻿<div class="left-sidebar-pro">
    <nav id="sidebar" class="">
        <div class="sidebar-header">
            <a href="@Url.Action("Index", "Home")"><img class="main-logo" src="~/Content/img/logo/logo.png" alt="" /></a>
            <strong><a href="@Url.Action("Index", "Home")"><img src="~/Content/img/logo/logosn.png" alt="" /></a></strong>
        </div>
        <div class="left-custom-menu-adp-wrap comment-scrollbar">
            <nav class="sidebar-nav left-sidebar-menu-pro">
                <ul class="metismenu" id="menu1">
                    <li>
                        <a class="has-arrow" href="index.html">
                            <span class="educate-icon educate-home icon-wrap"></span>
                            <span class="mini-click-non">Education</span>
                        </a>
                        <ul class="submenu-angle" aria-expanded="true">
                            <li><a title="Dashboard" href="@Url.Action("Index", "Home")"><span class="mini-sub-pro">Dashboard</span></a></li>
                        </ul>
                    </li>
                    <li>
                        <a class="has-arrow" href="mailbox.html" aria-expanded="false"><span class="educate-icon educate-interface icon-wrap"></span> <span class="mini-click-non">Parametrizar</span></a>
                        <ul class="submenu-angle interface-mini-nb-dp" aria-expanded="false">
                            <li><a title="Evaluaciones" href="data-maps.html"><span class="mini-sub-pro">Evaluaciones</span></a></li>
                        </ul>
                    </li>
                    <li>
                        <a class="has-arrow" href="all-professors.html" aria-expanded="false"><span class="educate-icon educate-professor icon-wrap"></span> <span class="mini-click-non">G - Personas</span></a>
                        <ul class="submenu-angle" aria-expanded="false">
                            <li><a title="Personas" href="@Url.Action("Index", "Personas")"><span class="mini-sub-pro">Personas</span></a></li>
                            <li><a title="Personas" href="@Url.Action("Crear_personas", "Personas")"><span class="mini-sub-pro">Crear Personas</span></a></li>
                        </ul>
                    </li>
                    <li>
                        <a class="has-arrow" href="all-courses.html" aria-expanded="false"><span class="educate-icon educate-course icon-wrap"></span> <span class="mini-click-non">G - Cursos</span></a>
                        <ul class="submenu-angle" aria-expanded="false">
                            <li><a title="Cursos" href="all-courses.html"><span class="mini-sub-pro">Cursos</span></a></li>
                            <li><a title="Asignar curso" href="add-course.html"><span class="mini-sub-pro">Asignación curso</span></a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </nav>
</div>