﻿@model Forms___Smart.Models.ModelsWeb.GetDataPeopleViewModels
@{
    if (Session["id_users"] == null)
    {
        Response.Redirect("~/Sign_in/Index");
    }
}

</br>
</br>
<div class="single-pro-review-area mt-t-30 mg-b-15">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="product-payment-inner-st">
                    <ul id="myTabedu1" class="tab-review-design">
                        <li class="active"><a href="#description">Informacion Basica</a></li>
                    </ul>
                    <div id="myTabContent" class="tab-content custom-product-edit">
                        <div class="product-tab-list tab-pane fade active in" id="description">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="review-content-section">
                                        <div id="dropzone1" class="pro-ad">
                                            <form action="/upload" class="dropzone dropzone-custom needsclick add-professors" id="demo1-upload">
                                                <div class="row">
                                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                        <div class="form-group">
                                                            @Html.DropDownListFor(model => model.id_type_id, new SelectList(Model.ListTipoId, "id", "valor"), "Seleccione Tipo identificación", new { @class = "form-control", required = "required" })
                                                        </div>
                                                        <div class="form-group">
                                                            @Html.TextBoxFor(model => model.identifications, new { @class = "form-control", placeholder = "Identificación", type = "number", required = "required" })
                                                        </div>
                                                        <div class="form-group">
                                                            @Html.TextBoxFor(model => model.names, new { @class = "form-control", placeholder = "Nombres", type = "text", required = "required" })
                                                        </div>
                                                        <div class="form-group">
                                                            @Html.TextBoxFor(model => model.surnames, new { @class = "form-control", placeholder = "Apellidos", type = "text", required = "required" })
                                                        </div>
                                                        <div class="form-group">
                                                            @Html.TextBoxFor(model => model.phone, new { @class = "form-control", placeholder = "Telefono", type = "number", required = "required" })
                                                        </div>
                                                        <div class="form-group">
                                                            @Html.TextBoxFor(model => model.email, new { @class = "form-control", placeholder = "Correo", type = "email", required = "required" })
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                        <div class="form-group">
                                                            @Html.DropDownListFor(model => model.id_city, new SelectList(Model.ListGender, "id", "valor"), "Seleccione una ciudad", new { @class = "form-control", required = "required" })
                                                        </div>
                                                        <div class="form-group">
                                                            @Html.DropDownListFor(model => model.id_gender, new SelectList(Model.ListCity, "id", "valor"), "Seleccione un genero", new { @class = "form-control", required = "required" })
                                                        </div>
                                                        <div class="form-group">
                                                            @Html.DropDownListFor(model => model.id_profile, new SelectList(Model.ListProfile, "id", "valor"), "Seleccione un perfil", new { @class = "form-control", required = "required" })
                                                        </div>
                                                        <div class="form-group">
                                                            @Html.TextBoxFor(model => model.usuario, new { @class = "form-control", placeholder = "Usuario", type = "text", required = "required" })
                                                        </div>
                                                        <div class="form-group">
                                                            @Html.TextBoxFor(model => model.password, new { @class = "form-control", placeholder = "Contraseña", type = "password", required = "required" })
                                                        </div>
                                                        <div class="form-group">
                                                            @Html.TextBoxFor(model => model.confirPassword, new { @class = "form-control", placeholder = "Confirmar contraseña", type = "password", required = "required" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <div class="payment-adress">
                                                            <button type="button" id="guardar" class="btn btn-primary waves-effect waves-light">Submit</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script>

    $(document).ready(function () {    
        $("#guardar").click(function () {
            var data = {
                id_type_id: $("#id_type_id").val(),
                id_gender: $("#id_gender").val(),
                id_profile: $("#id_profile").val(),
                identifications: $("#identifications").val(),
                id_city: $("#id_city").val(),
                names: $("#names").val(),
                surnames: $("#surnames").val(),
                email: $("#email").val(),
                phone: $("#phone").val(),
                usuario: $("#usuario").val(),
                password: $("#password").val(),
                confirPassword: $("#confirPassword").val()
            };
            if (data.id_type_id != "") {
                if (data.identifications != "") {
                    if (data.names != "") {
                        if (data.surnames != "") {
                            if (data.phone != "") {
                                if (data.email != "") {
                                    if (data.id_city != "") {
                                         if (data.id_gender != "") {
                                             if (data.id_profile != "") {
                                                 if (data.usuario != "") {
                                                     if (data.password == data.confirPassword) {
                                                            $.ajax({
                                                                type: "POST",
                                                                url: '@Url.Action("Crear_personas", "Personas")',
                                                                cache: true,
                                                                async: false,
                                                                data: JSON.stringify({ data: data }),
                                                                contentType: "application/json; charset=utf-8",
                                                                success: function (resultado) {
                                                                    console.log(resultado);
                                                                },
                                                                error: function (result) {
                                                                    console.log(result);
                                                                }
                                                            });
                                                     } else {
                                                        $("#confirPassword").focus();
                                                     }
                                                 } else {
                                                    $("#usuario").focus();
                                                 }  
                                             } else {
                                                $("#id_profile").focus();
                                             }  
                                         } else {
                                            $("#id_gender").focus();
                                         }  
                                     } else {
                                        $("#id_city").focus();
                                     }  
                                } else {
                                    $("#email").focus();
                                }  
                            } else {
                                $("#phone").focus();
                            }  
                        } else {
                            $("#surnames").focus();
                        }                  
                    } else {
                        $("#names").focus();
                    }                   
                } else {
                    $("#identifications").focus();
                }                
            } else {
                $("#id_type_id").focus();
            }
        });
    });
</script>