﻿@{
    if (Session["id_users"] == null)
    {
        Response.Redirect("~/Sign_in/Index");
    }
}
</br>
</br>
<div class="data-table-area mg-b-15 mt-30">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="sparkline13-list">
                    <div class="sparkline13-hd">
                        <div class="main-sparkline13-hd">
                            <h1>Personas</h1>
                        </div>
                    </div>
                    <div class="sparkline13-graph">
                        <div class="datatable-dashv1-list custom-datatable-overright">
                            <div class="datatable-ct">
                                <a class="fa fa-plus" href="@Url.Action("Crear_personas", "Personas")"></a>
                            </div>
                            <div id="toolbar">
                                <select class="form-control dt-tb">
                                    <option value="">Seleccione cargo</option>
                                    <option value="all">Export All</option>
                                    <option value="selected">Export Selected</option>
                                </select>
                            </div>
                            <div class="date-picker-inner">
                                <div class="form-group data-custon-pick" id="data_1">
                                    <label>Fecha Inicio</label>
                                    <div class="input-group date">
                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                        <input type="text" class="form-control" value="10/04/2017">
                                    </div>
                                </div>
                            </div>
                            <table id="table" data-toggle="table" data-pagination="true" data-search="true" data-show-columns="true" data-show-pagination-switch="true" data-show-refresh="true" data-key-events="true" data-show-toggle="true" data-resizable="true" data-cookie="true"
                                   data-cookie-id-table="saveId" data-show-export="true" data-click-to-select="true" data-toolbar="#toolbar">
                                <thead>
                                    <tr>
                                        <th data-field="state" data-checkbox="true"></th>
                                        <th data-field="id">ID</th>
                                        <th data-field="Nombre">Nombre</th>
                                        <th data-field="Identificacion">Identificacion</th>
                                        <th data-field="Telefono">Telefono</th>
                                        <th data-field="Correo">Correo</th>
                                        <th data-field="Cargo">Cargo</th>
                                        <th data-field="Usuario">Usuario</th>
                                        <th data-field="fecha_creacion">Fecha Sistema</th>
                                        <th data-field="Acciones">Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td></td>
                                        <td>1</td>
                                        <td>Super Admin</td>
                                        <td>CC: 104500000</td>
                                        <td>+57 3013723158</td>
                                        <td>superadmin@gmail.com</td>
                                        <td>SuperAdministrador</td>
                                        <td>SuperAdmin</td>
                                        <td>2020-04-10</td>
                                        <td class="datatable-ct">
                                            <a class="fa fa-check" href="@Url.Action("Index", "Home")"></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>1</td>
                                        <td>Super Admin</td>
                                        <td>CC: 104500000</td>
                                        <td>+57 3013723158</td>
                                        <td>superadmin@gmail.com</td>
                                        <td>SuperAdministrador</td>
                                        <td>SuperAdmin</td>
                                        <td>2020-04-10</td>
                                        <td class="datatable-ct">
                                            <i class="fa fa-check"></i>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>1</td>
                                        <td>Super Admin</td>
                                        <td>CC: 104500000</td>
                                        <td>+57 3013723158</td>
                                        <td>superadmin@gmail.com</td>
                                        <td>SuperAdministrador</td>
                                        <td>SuperAdmin</td>
                                        <td>2020-04-10</td>
                                        <td class="datatable-ct">
                                            <i class="fa fa-check"></i>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>1</td>
                                        <td>Super Admin</td>
                                        <td>CC: 104500000</td>
                                        <td>+57 3013723158</td>
                                        <td>superadmin@gmail.com</td>
                                        <td>SuperAdministrador</td>
                                        <td>SuperAdmin</td>
                                        <td>2020-04-10</td>
                                        <td class="datatable-ct">
                                            <i class="fa fa-check"></i>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>1</td>
                                        <td>Super Admin</td>
                                        <td>CC: 104500000</td>
                                        <td>+57 3013723158</td>
                                        <td>superadmin@gmail.com</td>
                                        <td>SuperAdministrador</td>
                                        <td>SuperAdmin</td>
                                        <td>2020-04-10</td>
                                        <td class="datatable-ct">
                                            <i class="fa fa-check"></i>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>1</td>
                                        <td>Super Admin</td>
                                        <td>CC: 104500000</td>
                                        <td>+57 3013723158</td>
                                        <td>superadmin@gmail.com</td>
                                        <td>SuperAdministrador</td>
                                        <td>SuperAdmin</td>
                                        <td>2020-04-10</td>
                                        <td class="datatable-ct">
                                            <i class="fa fa-check"></i>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>
